header {
  background-color: #4CAF50;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1vw 3vw; 
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

header h1 {
  font-size: 2vw; 
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-right: 60px;
}

nav ul li {
  padding: 1vw
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem; 
}

nav ul li img {
  width: 5vw;
  border-radius: 50%;
  max-width: 26px;
}

.contact-main{
    background-color: rgb(226, 224, 224);
    padding-top: 100px;
  }
  
  .header-div{
    background-color: lightblue;
    padding: 20px 5px;

  }

  .contact-main-div{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2vw;
    padding: 2vw;
  
  }
  
  

  .contact-via{
    margin-top: 4vw;
    padding: 50px;
  }
  
  label{
    display: block;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-size: 1.5em;
    font-weight: 600;
  }
  
  input{
    width: 45vw;
    height: 40px;
    border: none;
    border-radius: 8px;
  }
  
  .submit{
    margin-top: 10px;
    width: 20vw;
    border-radius: 8px;
    background-color: purple;
    font-size: 20px;
    color: white;
  }
  
  .submit:hover{
    background-color: blue;
    color: yellow;
    font-size: 20px;
    cursor: pointer;  
  }
  
  #tetra{
    height: 10vw;
  
  }
  
  input::placeholder{
  padding-left: 10px;
  font-size: 16px;
  
  }
  
  .main-div{
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 2vw;
  column-gap: 1vw;
  }
  
  .pp-image{
  width: 50px;
  border-radius: 50%;
  }
  
  .title-h3{
    margin-top: 0;
  margin-bottom: 0;
  }
  
  .title-h5{
    margin-top: 0;
  }
  

  
 @media(max-width: 600px){
    header{
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;
      margin-top: 0;
    }
    
    nav ul li {
      padding: 2vw
    }

    header h1{
      font-size: 1.5em;
    }
     .header-div{
      margin-top: -15px;
     }

    .contact-main-div{
      display: flex;
      flex-direction: column;
    }
    input{
      width:85vw;
      height: 30px;
    }
    label{
      font-size: 1.2em;
      font-weight: 600;
      text-align: center;
    }
    .contact-form{
      text-align: center;
    }

  }
  