@media(max-width: 900px) {
  body{
    transform: none;
    transform-origin:top left;
    width: 100%;
    height: auto;
    position: absolute;
  }
  footer{
    font-size: 1rem;
  }
  header{
    height: 40px;
  }
  nav{
    padding: 20px;
  }
  nav ul li{
    margin: 10px;
    padding-top: 30px;

}
}

